.head{
	background: #333;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%
}

.main{
	background: #e9edf0;
	height: 850px;
	margin-top: 50px;
}

.footer{
	background: #333;
	height: 50px;
}